<ion-header [translucent]="true" class="fondo-header">
 <div class="titulo">Registro</div> 
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
 <h1>Seleccione el tipo de usuario: </h1>
  
 

 <div class="registro">
  <div>
    <img src="../../../assets/icon/icon-user.png" alt="">     
  </div>
  <div style="margin-left: 10px;">
    <ion-input label="Ingrese Nombre de Usuario: " labelPlacement="floating" placeholder="Ingrese..." required></ion-input>
  </div>
 </div>
 <div class="registro-p">
  <div>
    <img src="../../../assets/icon/icon-pass.png" alt="">        
  </div>
  <div style="margin-left: 10px;">
    <ion-input label="Ingrese Contraseña: " labelPlacement="floating" type="password" placeholder="Ingrese..." required></ion-input>    
  </div>  
 </div>
 <div class="registro-pp">
  <div>
    <img src="../../../assets/icon/icon-pass.png" alt="">        
  </div>
  <div style="margin-left: 10px;">
    <ion-input label="Repita Contraseña: " labelPlacement="floating" type="password" placeholder="Repita..." required></ion-input>
  </div> 
 </div>
 <div style="margin: 15px;margin-top: 50px;">
  <ion-button expand="block" >Registrar</ion-button>
  <br>
 </div>
 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>