<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Comentarios </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>Comentarios: </h1>  
  <div class="info">
    <h4>Escriba sus comentarios:</h4>
    <ion-input label="Escriba aquí: " labelPlacement="floating"  placeholder="Ingrese..."></ion-input>
  </div>
  
  


 <div class="btn-1">
  <ion-button (click)="irIniciop()" expand="block">Atrás</ion-button>  
 </div>

 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>