<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Ganancias De La Aplicación </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>A continuacion se muestra la información de la ganancia obtenida en la aplicación: </h1>  
  <div class="info">
    <h4>Monto total ganado: $0</h4>    
  </div>
  
  
 <br>
 
 <div class="btn-1">
  <ion-button (click)="irInicioc()" expand="block">Atrás</ion-button>  
 </div>

 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>