@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.fondo{
    --background: url('../../../assets/img/fondo_app.jpg')0/200% 60%;
}
.fondo-header{
    background-color: rgb(0, 0, 0);
}
.titulo{
    font-family: 'Yatra One', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
   }
.selec{    
    text-align: center;    
    margin-top: 5px;
}
.fondo h1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

    
}
.selectt{
    color: red;
}
.ingreso{
    margin-top: 25px;
    background-color: white;
    margin: 15px;
    padding: 10px;
    display: flex;
    color: black;
}
.ingreso img{
    margin-top: 15px;
    width: 23px;
    height: 27px;
    display: flex;
}
.ingreso-p{
    margin-top: 25px;
    background-color: white;
    margin: 15px;
    padding: 10px;
    display: flex;
    color: black;
}
.ingreso-p img{
    margin-top: 15px;
    width: 23px;
    height: 27px;
    display: flex;
}
.ingreso-nr{    
    margin-top: 10px;
    color: white;
    text-align: center;
    background-color: black;
    border: solid 2px rgb(56, 128, 255);
}
.ingreso-op{
    margin-top: 2px;
    color: white;
    text-align: center;
    background-color: black;
    border: solid 2px  rgb(56, 128, 255);
}