<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Login </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>Seleccione el tipo de usuario: </h1>
  
 <div class="selec">
  <mat-form-field>
    <mat-label>Tipo de usuario</mat-label>
    <mat-select>    
      <mat-option value="Conductor">Conductor</mat-option>
      <mat-option value="Pasajero">Pasajero</mat-option>
      <mat-option value="Administrador">Administrador</mat-option>
    </mat-select>
  </mat-form-field>
 </div>

 <div class="ingreso">
  <div>
    <img src="../../../assets/icon/icon-user.png" alt="">     
  </div>
  <div style="margin-left: 10px;">
    <ion-input [(ngModel)]="usuario"  label="Ingrese Nombre de Usuario: " labelPlacement="floating"  placeholder="Ingrese..." required></ion-input>
  </div>
 </div>
 <div class="ingreso-p">
  <div>
    <img src="../../../assets/icon/icon-pass.png" alt="">        
  </div>
  <div style="margin-left: 10px;">
    <ion-input [(ngModel)]="password" label="Ingrese Contraseña: " labelPlacement="floating" type="password" placeholder="Ingrese..." required></ion-input>
  </div>  
 </div>
 <div style="margin: 15px;margin-top: 50px;">
  <ion-button expand="block" (click)="irMenu()" >Ingresar</ion-button>
  <br>
 </div>
 <div class="ingreso-nr" (click)="irRegistro()">Registrarse</div>
 
 <div class="ingreso-op" (click)="irRegistro()">¿Olvidé la contraseña?</div>
  
</ion-content>
<ion-footer>

 
    
</ion-footer>