<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Generación de Informes </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>A continuacion se muestra la información de los viajes realizados: </h1>  
  <div class="info">
    <h4>Id de viaje:</h4>
    <h4>Fecha de viaje:</h4>
    <h4>Direccion: </h4>
    <h4>Cupos:</h4>
    <h4>Tarifa:</h4>
    <h4>Horario:</h4>
    <h4>Pasajeros:</h4>
    <h4>Total:</h4>
  </div>
  
  
 <br>
 
 <div class="btn-1">
  <ion-button (click)="irInicioc()" expand="block">Atrás</ion-button>  
 </div>

 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>