<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Registro De Rutas </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>Complete los campos para registrar una ruta: </h1>  
  
  <h4>Direccion: </h4>
  <div class="ruta">
    <ion-input label="Direccion De Destino: " labelPlacement="floating" placeholder="Ingrese..."></ion-input>    
  </div>
  <h4>Cupos:</h4>
  <div class="ruta-1">
    <ion-input label="Asientos Disponibles : " labelPlacement="floating" placeholder="Ingrese..."></ion-input>
  </div>
  <h4>Tarifa:</h4>
  <div class="ruta-1">
    <ion-input label="Monto $ : " labelPlacement="floating" placeholder="Ingrese..."></ion-input>
  </div>
  <h4>Horario:</h4>
  <div class="ruta-1">
    <ion-input label="Horario De Salida : " labelPlacement="floating" placeholder="Ingrese..."></ion-input>
  </div>
 <br>
 
 <div class="btn-1">
  <ion-button (click)="irInicioc()" expand="block">Comenzar Ruta</ion-button>  
 </div>

 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>