<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Generación de informes </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>Informes generados: </h1>  
  <div class="info">
    <h4>Detalles:</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ab velit doloremque et error tenetur officiis assumenda saepe aperiam impedit rem, vitae, nisi vel magnam temporibus adipisci exercitationem libero repellendus? 
  </div>
  
  


 <div class="btn-1">
  <ion-button (click)="irIniciop()" expand="block">Atrás</ion-button>  
 </div>

 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>