<ion-header [translucent]="true" class="fondo-header">
  <div class="titulo"> Administracion de toma de rutas </div>
  <br>
  
  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <h1>Rutas disponibles para modificar: </h1>  
  <div class="info">
    <h4>Direccion:</h4>
    <h4>Cupos:</h4>
    <h4>Tarifa:</h4>   
    <h4>Horario:</h4> 
  </div>
  
  
 <br>
 <div class="btn-2">
  <ion-button (click)="irIniciop()" expand="block">Eliminar Ruta</ion-button>  
 </div>

 <div class="btn-1">
  <ion-button (click)="irIniciop()" expand="block">Atrás</ion-button>  
 </div>

 
  
</ion-content>
<ion-footer>

 
    
</ion-footer>